<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head> 
<body> 
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
			<p>
				Make:<h:inputText value="#{car.make}"/>
			</p>
			<p>
				Model: <h:inputText value="#{car.model}"/>
			</p>
			<p>
				Year: <h:inputText value="#{car.year}"/>
			</p>
			<p>
				Color: <h:inputText value="#{car.color}"/>
			</p>
			<p>
				Miles: <h:inputText value="#{car.miles}"/>
			</p>
			<p>
				<h:commandButton action="#{carController.onSubmitCreate()}" value="Register" />
			</p>
		</h:form>
		
		</ui:define>
	</ui:composition>

</body> 
</html>
