<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">

	<body>
	 	<ui:insert>
	 		<ui:include src="/layouts/commonHeader.xhtml" />
		</ui:insert>
	 	
	 	<h2 class = "centeredheadline">List of All Cars</h2>
	 
		<h:dataTable value="#{carController.getAll()}" var = "car">
			<h:column>
				<f:facet name="header">ID</f:facet>
				<h:outputText value="#{car.id}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Make</f:facet>
				<h:outputText value="#{car.make}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Model</f:facet>
				<h:outputText value="#{car.model}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Color</f:facet>
				<h:outputText value="#{car.color}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Year</f:facet>
				<h:outputText value="#{car.year}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Miles</f:facet>
				<h:outputText value="#{car.miles}" />
			</h:column>
			
			<h:column>
				<f:facet name="header">Delete</f:facet>
					<h:form>
						<h:commandButton action="#{carController.onDelete(car)}" value="Delete" />
					</h:form>
			</h:column>
			
			<h:column>
				<f:facet name="header">Edit</f:facet>
					<h:form>
						<h:commandButton action="#{carController.onShowEdit(car)}" value="Edit" />
					</h:form>
			</h:column>
		</h:dataTable>
	 </body>
</html>